.header {
  background-color: #ffffff;
  border-bottom: 2px solid #06031270;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
/* Search */
.search-input {
  display: flex;
  align-items: center;
  position: relative;
}
.search-form {
  display: flex;
  flex-direction: row;
}
.search-icon {
  position: absolute;
  left: 10px;
  pointer-events: none;
  color: #060312;
}

.search-form input[type="text"] {
  padding: 10px 0 10px 30px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid #060312;
  width: 50vw;
}

.placeholder::placeholder {
  color: #060312; /* Change the placeholder color to white */
}

.colored-circle {
  text-align: center;
  display: inline-block;
  width: 38px;
  height: 38px;
  background-color: #060312; /* Replace with your desired background color */
  color: #ffffff /* Set the text color */;
  text-align: center;
  line-height: 38px;
  border-radius: 50%; /* Create a circular shape */
}

.sidenav {
  position: fixed;
  top: 82px; /* Adjust to match the header's height */
  background-color: #ffffff;
  height: 88vh;
  width: 15vw;
  border-right: 2px solid #06031270;
  transition: 0.5s;
  z-index: 1;
}

.sidenav.open {
  width: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 0.2rem;
}

.menu a {
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: #060312;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.menu a:hover {
  color: #ffffff; /* Change the text color on hover */
  background-color: #060312;
}

.menu p {
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.content {
  min-width: 1180px;
  padding: 30px;
}

.scrollable-body {
  margin-top: 85px;
  margin-left: 200px; /* Adjust to match the nav's width */
  overflow-y: auto;
  z-index: 1;
  transition: 0.5s;
}
.scrollable-body.open {
  margin-left: 0px;
}
